In [2]:
 import wandb
 import pandas as pd

 run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
 local_path = wandb.use_artifact("sample.csv:latest").file()
 df = pd.read_csv(local_path)

wandb: Currently logged in as: omarnava (use `wandb login --relogin` to force relogin)
wandb: wandb version 0.12.12 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

In [3]:
import pandas_profiling

profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  int64
 1   name                            19993 non-null  object
 2   host_id                         20000 non-null  int64
 3   host_name                       19992 non-null  object
 4   neighbourhood_group             20000 non-null  object
 5   neighbourhood                   20000 non-null  object
 6   latitude                        20000 non-null  float64
 7   longitude                       20000 non-null  float64
 8   room_type                       20000 non-null  object
 9   price                           20000 non-null  int64
 10  minimum_nights                  20000 non-null  int64
 11  number_of_reviews               20000 non-null  int64
 12  last_review                     15877 non-null  object
 13  reviews_per_month               15877 non-null  float64
 14  calculated_host_listings_count  20000 non-null  int64
 15  availability_365                20000 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

In [5]:
df['price'].describe(percentiles=(0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.95, 0.99))

count    20000.000000
mean       153.269050
std        243.325609
min          0.000000
1%          30.000000
5%          40.000000
10%         49.000000
25%         69.000000
50%        105.000000
75%        175.000000
95%        350.000000
99%        800.000000
max      10000.000000
Name: price, dtype: float64

In [6]:
# Drop outliers in prices
min_price = 10  # it is resonable
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()

In [7]:
df['minimum_nights'].describe(percentiles=(0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.95, 0.99))

count    19001.000000
mean         6.906900
std         21.456544
min          1.000000
1%           1.000000
5%           1.000000
10%          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
95%         30.000000
99%         39.000000
max       1250.000000
Name: minimum_nights, dtype: float64

In [8]:
# Drop outliers in minimum_nights
min_days = 1
max_days = 35
idx = df['minimum_nights'].between(min_days, max_days)
df = df[idx].copy()

In [9]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18809 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18809 non-null  int64
 1   name                            18802 non-null  object
 2   host_id                         18809 non-null  int64
 3   host_name                       18801 non-null  object
 4   neighbourhood_group             18809 non-null  object
 5   neighbourhood                   18809 non-null  object
 6   latitude                        18809 non-null  float64
 7   longitude                       18809 non-null  float64
 8   room_type                       18809 non-null  object
 9   price                           18809 non-null  int64
 10  minimum_nights                  18809 non-null  int64
 11  number_of_reviews               18809 non-null  int64
 12  last_review                     15130 non-null  datetime64[ns]
 13  reviews_per_month               15130 non-null  float64
 14  calculated_host_listings_count  18809 non-null  int64
 15  availability_365                18809 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.4+ MB

In [11]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaT,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

In [12]:
run.finish()

VBox(children=(Label(value=' 0.05MB of 0.05MB uploaded (0.01MB deduped)\r'), FloatProgress(value=1.0, max=1.0)â€¦